.login {
    display: grid;
    place-content: center;
    height: 75vh;
}

.login-container {
    display: flex;
    flex-direction: column;
}

.login-container > img {
    object-fit: contain;
    height: 500px;
}